<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<link rel="stylesheet" href="static/assets/css/login.css">
</head>
<body>
<div class="bg-img">
    <div class="content">
        <header>Login Form</header>
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                  {% if message %}
                    <p class="flash">{{message}}</p>
                  {% endif %}
                {% endfor %}
          {% endwith %}
        <form action="/login" method="POST">
            <div class="field">
                <span class="fa fa-user"></span>
                <input type="text" name=email required placeholder="Email">
            </div>
            <div class="field space">
                <span class="fa fa-lock"></span>
                <input type="password" name=password class="password" required placeholder="Password">

            </div>
            <div class="pass">
                <a href="#">Forgot Password?</a>
            </div>
            <div class="field">
                <input type="submit" value="LOGIN">
            </div>
            <div class="signup">Don't have account?
                <a href="/signup">Sign up Now</a>
            </div>
        </form>
    </div>

</body>
</html>