<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<link rel="stylesheet" href="static/assets/css/login.css">
</head>
<body>
<div class="bg-img">
        <div class="content">
        <header>Sign up Form</header>
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                  {% if message %}
                    <p class="flash">{{message}}</p>
                  {% endif %}
                {% endfor %}
          {% endwith %}
        <form action="/signup" method="POST"> <!-- Modified action attribute -->
            <div class="field">
                <span class="fa fa-user"></span>
                <input type="text" name="email" required placeholder="Email"> <!-- Added name attribute -->
            </div>
            <div class="field space">
                <span class="fa fa-lock"></span>
                <input type="text" class="name" name="name" required placeholder="Name"> <!-- Added name attribute -->
            </div>
            <div class="field space">
                <span class="fa fa-lock"></span>
                <input type="password" class="password" name="password" required placeholder="Password"> <!-- Added name attribute -->
            </div>
            <div class="field space">
                <span class="fa fa-lock"></span>
                <input type="password" class="password" name="confirm_password" required placeholder="Confirm Password"> <!-- Added name attribute -->
            </div>
            <div class="field">
                <input type="submit" value="SIGN UP"> <!-- Changed button value -->
            </div>
        </form>
    </div>
</div>

</body>
</html>